

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.item {
    margin: 0;
    padding-left: 0.9375em;
    padding-right: 0.9375em
}

.item {
    width: 100%
}

.item.container {
    padding-left: 0;
    padding-right: 0
}









.header__banner {
    padding: 0;
    position: relative
}

.header__banner:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
  		radial-gradient(120rem 280% at 50% 50%, transparent 0, #780707 60%, #780707 80%, #5e0808 100%),
  		radial-gradient(120rem 280% at 50% 50%, transparent 0, #ae1616 60%, #780707 80%, #5e0808 100%);
}

.header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: white;
    z-index: 20;
    font-family: "Amaranth", sans-serif;
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top: 0
}

@media screen and (min-width: 640px) {
    .header__title {
        font-size:2em
    }
}

.header__title p {
    display: none
}

@media screen and (min-width: 640px) {
    .header__title p {
        display:block
    }
}

.main-banner {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden
}

@media screen and (min-width: 640px) {
    .main-banner {
        padding-bottom:28%
    }
}

.main-banner .slider-container {
    height: 30vh;
    width: 100%;
    background-size: 100% 100%;
    overflow: hidden
}

.main-banner__button,.main-banner__description,.main-banner__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    text-align: center
}

.main-banner__title {
    padding: 1em;
    background: rgba(0, 0, 0, 0.6)
}

@media screen and (max-width: 639px) {
    .main-banner__description {
        display:none
    }
}






img {
    width: 100%;
    height: 100%
}







body {
    overflow-x: hidden
}








.main-blog__content {
    padding: 2em 0 2em 0;
    border-bottom: 1px solid #eed8a7
}

.main-blog__content--img {
    padding: 0;
    height: 160px;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 5px 15px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 5px 15px 0 rgba(0, 0, 0, 0.12)
}

.main-blog__content--img img {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 5px 15px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 5px 15px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: absolute;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.main-blog__content--description h2 {
    margin: 0;
    color: #A8605F
}

.main-blog__content--description h2 a {
    color: #A8605F
}

.main-blog__content--description .categoria {
    color: #C7B446
}

.main-blog__content--description p {
    margin-top: 0
}

.main-blog__content--description span {
    font-size: .8em
}

.main-blog__content--description .fecha {
    font-size: .7em
}

.main-blog__content--description .autor {
    text-transform: capitalize
}

.main-blog__aside--list ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0
}

.main-blog__aside--list ul li {
    padding: .2em 0
}

.main-blog__aside--list ul li i {
    font-size: .7em
}


